[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
bs4 = "*"
pandas = "0.24.0"
requests = {extras = ["socks"], version = "*"}
responses = "*"
boto3 = "*"
click = "*"
selenium = "*"
lxml = "*"
sentry-sdk = "*"
pysocks = "*"
google-cloud-storage = "*"
fsspec = "*"
gcsfs = "*"

[requires]
python_version = "3.8.1"

[scripts]
start = "python main.py"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
